<h1>授業時間と教室情報の変更</h1>

<%= form_for @lesson do |f| %>

<p>
  <%= f.label :授業時間 %>
  <%= f.text_field :time %>
</p>
<p>
  <%= f.label :授業教室 %>
  <%= f.text_field :room %>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>

