<h1>検索結果</h1>
<table>
  <tr>
    <th>講義名</th>
    <th>教授</th>
    <th>学期</th>
    <th>校地</th>
    <th>時間</th>
    <th>教室</th>
  </tr>
  <% if @lessons.any? %>
    <% @lessons.each do |lesson|  %>
    <tr>
        <% if lesson.title.length < 10 %>
	 <td><%= link_to lesson.title, lesson_path(lesson.id) %></td>
	<% else %>
	 <td><%= link_to lesson.title[0,10], lesson_path(lesson.id) %>..</td>
	<% end %>
      </td>
        <% if lesson.teacher.length < 10 %>
	 <td><%= lesson.teacher %></td>
	<% else %>
	 <td><%= lesson.teacher[0,10] %>..</td>
	<% end %>
      <td><%= lesson.season  %></td>
      <td><%= lesson.place  %></td>
      <td><%= lesson.time  %></td>
      <td><%= lesson.room %></td>
    </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="6">
	お探しの情報に合う講義は見つかりませんでした
      </td>
    </tr>
  <% end %>
</table>


