<div class="wrapper">
  <div class="main">
    <h1>D-Dive</h1>
    <table class="table">
      <thread>
        <tr>
          <th>講義名</th>
          <th>教授</th>
          <th>春/秋</th>
          <th>校地</th>
          <th>時間</th>
          <th>教室</th>
        </tr>
      </thread>
      <tbody>
        <tr>
          <th><%= link_to @lesson.title, @lesson.url %></th>
          <th><%= @lesson.teacher %></th>
          <th><%= @lesson.season  %></th>
          <th><%= @lesson.place  %></th>
          <th><%= @lesson.time  %></th>
          <th><%= @lesson.room %></th>
        </tr>
      </tbody>
    </table>
    <p>
      <%= link_to "時間・教室の編集", edit_lesson_path(@lesson.id) %>
    </p>
    <ul>
      <% if @lesson.notes.any? %>
        <%= @lesson.notes.each do |note|  %>
          <li><%= note.filename %></li>
        <% end %> 
      <% else %>
        <p>講義ノートはアップロードされていません</p>
      <% end %>
      <li>
        <%= form_for [@lesson, @lesson.notes.build] do |f| %>
          <%= f.file_field :file %>
          <%= f.submit %>
        <% end %>
      </li>
    </ul>
  </div> 
</div>
